* {
  color: #451114;
}

.button {
  font-family: "Amiko", sans-serif;
  text-decoration: none;
  background-color: #e97c83;
  color: #451114;
  padding: 2px 6px 2px 6px;
  margin-top: 0.5rem;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #451114;
  border-bottom: 2px solid #451114;
  border-left: 2px solid #CCCCCC;
  border-radius: 5px;
}

.button:active {
  background-color: #fae0e2;
  color: #451114;
}

.nav-item:hover {
  background-color: #fae0e2;
  border-radius: 5px;
  color: #451114;
}

#logo-text:hover {
  background-color: #e97c83;
}

main h2 {
  margin: 3rem 0.5rem 0 0.5rem;
  font-size: 1.6rem;
}
main p {
  margin: 0.5rem 0.5rem 0 0.5rem;
}
main article {
  margin: 2rem 0 0 0;
}

.wrapper {
  background-color: #fae0e2;
  height: 100%;
}

.light-background {
  background-color: #fae0e2;
}

.flex-master {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: #e97c83;
  width: 100%;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0 1rem;
  height: 4rem;
}
@media (max-width: 395px) {
  .logo-wrapper {
    padding: 0;
  }
}

#logo-text {
  text-decoration: none;
  font-family: "Allerta", Helvetica, sans-serif;
  font-size: 1.8rem;
}
@media (max-width: 385px) {
  #logo-text {
    font-size: 1.5rem;
  }
}
#logo-text img {
  height: 3rem;
}
@media (max-width: 385px) {
  #logo-text img {
    height: 2.5rem;
  }
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  gap: 0.5rem;
}
.nav-wrapper a:active {
  color: #EB888F;
}

.current-nav {
  background-color: #fae0e2;
  border-radius: 5px;
  color: #451114;
  padding: 0 4px;
}

.nav-item {
  text-decoration: none;
  color: #451114;
  font-family: "Amiko", sans-serif;
}
@media (max-width: 385px) {
  .nav-item {
    font-size: 0.8rem;
  }
}

hr {
  width: 100%;
  margin: 0;
  padding: 0 2rem;
}

h2 {
  font-family: "Allerta", Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
}

h3 {
  font-family: "Allerta", Helvetica, sans-serif;
  font-size: 1.6rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-style: italic;
}

p {
  font-family: "Amiko", sans-serif;
  text-align: center;
}

li {
  font-family: "Amiko", sans-serif;
}

.carousel-inner {
  border-radius: 10px;
}

.image-text {
  background-color: hsla(355deg, 72%, 93%, 0.4);
  border-radius: 8px;
  padding: 10px;
}

.three-symbols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 0 0 0;
  width: 30%;
  margin: auto;
}

.card {
  max-width: 90%;
  width: 500px;
  height: 710px;
}

.space-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 70%;
}

.air {
  margin-bottom: 0.5rem;
}

.extra-air {
  margin-bottom: 2rem;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
}

.content-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1.5rem 1rem;
  border: 4px double #451114;
  border-radius: 5px;
}
.content-box h2 {
  margin: 0 10px;
}
.content-box p {
  margin: 10px;
  text-align: justify;
}
.content-box .address {
  margin: 0;
}
.content-box form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: "Amiko", sans-serif;
  margin: 0 0.5rem;
}
.content-box form div {
  width: 330px;
}
.content-box form button:active {
  background-color: #fae0e2;
}
.content-box .review {
  width: 90%;
  flex-direction: column;
  padding: 0;
}
.content-box .review hr {
  padding-bottom: 1rem;
}
.content-box .office-cave {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #451114;
  width: 480px;
}
@media (min-width: 992px) {
  .content-box .office-cave {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .content-box .office-cave {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .extra-space {
    margin-top: 1rem;
  }
}
@media (min-width: 1400px) {
  .extra-space {
    margin-top: 2.5rem;
  }
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #451114;
  width: 100%;
  margin-top: 1rem;
  border-radius: 10px 10px 0 0;
}
footer div {
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 5px;
  width: 100%;
}
footer div p {
  color: #fae0e2;
  margin: 5px 0 0 0;
  font-size: 0.7rem;
  text-align: right;
}
footer div p img {
  height: 1.4rem;
}
footer div nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #451114;
  width: 100%;
  padding: 0;
}
footer div nav a:active {
  color: #EB888F;
}
footer div nav a:hover {
  color: #fae0e2;
  background-color: #EB888F;
  border-radius: 5px;
}
footer div nav p {
  font-size: 0.8rem;
}
footer div nav a {
  text-decoration: none;
  color: #fae0e2;
  font-family: "Amiko", sans-serif;
}
@media (max-width: 385px) {
  footer div nav a {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */